#para1{
    font-family: 'Oswald', sans-serif; 
}

.imgs{
    margin-right:10px;
    height:250px;
    width:300px;
}
.reasons{
font-family: 'Oswald', sans-serif;
font-family: 'Pushster', cursive;
}

.poem{
font-family: 'Oswald', sans-serif;

}

.facts{
font-family: 'Mochiy Pop P One', sans-serif;
}

.paras_of_fact{
    font-family: 'Dongle', sans-serif;
}

.p1{
    font-family: 'Merriweather', serif;
}